.row:has(.welcome-grid) {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */

    .welcome-grid {
        /* background-color: lightgray; */
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: minmax(0, 50%) minmax(0, 50%);
        grid-template-rows: auto auto;
        grid-template-areas:
            "text img"
            "key key";
        column-gap: calc(var(--size-small-heading));
        row-gap: var(--size-small-heading);
    }

    .intro {
        width: 70%;
    }

    .img-wrapper {
        /* transform: translate(20%, -30%); */
        grid-area: img;
        min-width: 0;
        flex: 1;
        height: 65vh;
        width: 100%;
        filter: grayscale(100%) brightness(70%);
        transition: filter 0.5s ease-in-out;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:hover {
            filter: grayscale(0%) brightness(100%);
            transition: filter 0.5s ease-in-out;
        }
    }

    .welcome-text {
        grid-area: text;
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        color: var(--color-primary);

        h2 {
            font-size: var(--size-xl);
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: var(--size-m);
        }

        p {
            font-size: var(--size-m);
            line-height: 1.7;
            color: var(--color-text);
            word-spacing: var(--size-s);
        }
    }

    .welcome-key-value {
        grid-area: key;
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: var(--size-3xl);
        padding: var(--size-xl);
        background-color: var(--color-bg);
        position: relative;

        .key-list,
        .value-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            list-style-type: none;
            gap: var(--size-s);

            .key,
            .value {
                font-size: var(--size-s);
                font-weight: 400;
                text-transform: uppercase;
                max-width: 300px;
                color: var(--color-primary);
                letter-spacing: 10%;
            }
        }

        &::after {
            position: absolute;
            z-index: -1;
            content: "";
            top: -10px;
            left: -10px;
            width: 100px;
            height: 100px;
            background-color: var(--color-primary);
        }

        &::before {
            position: absolute;
            z-index: -1;
            content: "";
            bottom: -10px;
            right: -10px;
            width: 100px;
            height: 100px;
            background-color: var(--color-primary);
        }
    }
}
