:root {
    --color-heading: #000000;
    --color-bg: #ffffff;
    --color-primary: #414141;
    --color-secondary: #838383;
    --color-chapter-number: #c9c9c956;

    --font-weight-slim: 400;
    --font-weight-medium: 550;
    --font-weight-bold: 700;

    --size-xs: 16px;
    --size-s: 20px;
    --size-m: 24px;
    --size-l: 32px;
    --size-xl: 36px;
    --size-2xl: 48px;
    --size-3xl: 64px;
    --size-4xl: 80px;

    --size-small-heading: 100px;

    --size-heading: 100px;
    --size-chapter: 800px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    transition:
        color 0.5s ease,
        background-color 0.5s ease,
        border-color 0.5s ease;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Figtree", sans-serif;
    background-color: var(--color-bg);
    cursor:
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 8 8"><circle cx="4" cy="4" r="2" fill="var(--color-bg)"/></svg>')
            4 4,
        auto;
}

header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    backdrop-filter: blur(10px);
    padding-top: var(--size-m);
    padding-bottom: var(--size-m);
    padding-left: calc(3 * var(--size-xl));
    padding-right: calc(3 * var(--size-xl));
    color: var(--color-heading);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;

    .day {
        fill: black;
    }

    .night {
        fill: white;
    }
}

.header--hidden {
    transform: translateY(-100%);
}

main {
    aside {
        position: fixed;
        width: auto;
        bottom: 30%;
        right: 0;
        padding-right: var(--size-s);
        transition: bottom 0.3s ease-in-out;

        .menu {
            display: flex;
            flex-direction: column;
            gap: var(--size-xl);
            align-items: flex-start;
            list-style-type: none;

            .menu-button-li {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                height: 100%;

                .menu-button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    aspect-ratio: 1/1;
                    border-color: var(--color-heading);
                    color: var(--color-heading);
                    border: 1px solid var(--color-heading);
                    padding: var(--size-s);
                    background-color: var(--color-bg);
                    cursor: pointer;

                    &:hover {
                        background-color: var(--color-heading);
                        color: var(--color-bg);
                    }
                }
            }

            a {
                display: block;
                color: var(--color-primary);
                font-size: var(--size-s);
                text-decoration: none;
                font-weight: var(--font-weight-light);
                text-transform: uppercase;
                transition: 0.3s ease-in-out;

                &:hover {
                    color: var(--color-heading);
                    transform: translateX(10px);
                }
            }
        }
    }
}

.subheading-h3 {
    width: 100%;
    text-align: center;
    margin-top: var(--size-small-heading);
    /* padding-left: 10vw;
    padding-right: 10vw; */
    font-size: 150px;
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: var(--color-chapter-number);
    z-index: 0;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
}

.row {
    .content-box,
    .intro,
    .connect {
        width: 50%;
    }
}

.content-box {
    position: relative;

    h2 {
        position: absolute;
        top: 60%;
        right: 10%;
        font-size: var(--size-heading);
        color: var(--color-primary);
        font-weight: var(--font-weight-slim);
    }

    .number {
        display: block;
        font-weight: var(--font-weight-bold);
        font-size: var(--size-chapter);
        color: var(--color-chapter-number);
        text-box-trim: trim-end;
        text-box-edge: cap alphabetic !important;
        padding-bottom: var(--size-s);
    }
}

.content-02 {
    width: 90%;
    margin: 0 auto;
    padding-top: 10vh;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    .img-wrapper {
        width: 40%;
        height: auto;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 0.3s ease-in-out;
        }

        &:hover img {
            filter: grayscale(20%);
            transition: filter 0.3s ease-in-out;
        }
    }

    .intro {
        width: 40%;

        .intro-text {
            font-size: var(--size-m);
            color: var(--color-primary);
            font-weight: var(--font-weight-slim);
            letter-spacing: 10%;
            line-height: 170%;
        }
    }
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .intro-text {
        font-size: var(--size-m);
        color: var(--color-primary);
        font-weight: var(--font-weight-slim);
        letter-spacing: 10%;
        line-height: 170%;

        .highlight-word {
            font-weight: var(--font-weight-bold);
        }
    }
}

.transition-phrase {
    width: 100%;
    text-align: center;
    margin-top: var(--size-small-heading);
    padding-left: 10vw;
    padding-right: 10vw;

    .transition-text {
        font-size: var(--size-l);
        color: var(--color-primary);
        font-weight: var(--font-weight-slim);
        letter-spacing: 10%;
        line-height: 170%;

        .df-btn {
            font-size: var(--size-l);
            color: var(--color-primary);
            font-weight: var(--font-weight-slim);
            letter-spacing: 10%;
            line-height: 170%;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: font-size 0.3s ease-in-out;
            position: relative;
            z-index: 0;
        }

        .df-btn::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--color-primary);
            transition: height 0.3s ease-in-out;
            z-index: -1;
        }

        .df-btn:hover::after {
            height: 100%;
            transition: height 0.3s ease-in-out;
        }

        .df-btn:hover {
            color: var(--color-bg);
            transition: color 0.3s ease-in-out;
        }

        .highlight-word {
            font-weight: var(--font-weight-bold);
        }
    }
}

.project-section-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-container {
    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 100px;

    .projects-intro {
        width: 60%;
        font-size: var(--size-m);
        color: var(--color-primary);
        font-weight: var(--font-weight-slim);
        letter-spacing: 10%;
        line-height: 170%;
    }

    .project-card {
        width: 80%;

        &:hover {
            .img-container {
                height: 45vh;
                transition: height 0.3s ease-in-out;
            

                img {
                    transform: scale(1.03);
                    filter: grayscale(0%);
                    transition:
                        transform 0.3s ease-in-out,
                        filter 0.3s ease-in-out;
                }
            }
        }

        .img-container {
            width: 100%;
            height: 30vh;
            overflow: hidden;
            padding-bottom: var(--size-m);
            transition: height 0.3s ease-in-out;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
                filter: grayscale(100%);
                transition:
                    transform 0.3s ease-in-out,
                    filter 0.3s ease-in-out;
            }
        }

        .project-info {
            display: flex;
            background-color: var(--color-bg);
            color: var(--color-primary);
            gap: 100px;

            .project-text {
                .project-title {
                    font-size: var(--size-m);
                    text-transform: uppercase;
                    margin: 0;
                    padding-bottom: var(--size-s);

                    .project-year {
                        font-size: var(--size-s);
                        color: var(--color-chapter-number);
                    }
                }

                .project-description {
                    font-size: var(--size-s);
                    margin: 0;
                    line-height: 170%;
                }
            }

            .project-links {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-end;
                gap: var(--size-s);
                width: 50%;

                .repo,
                .website {
                    text-decoration: none;
                    color: var(--color-primary);
                    background-color: var(--color-bg);
                    font-size: var(--size-xs);
                    border-bottom: 1px solid var(--color-primary);
                    padding: var(--size-xs) var(--size-s);
                    transition: 0.3s ease-in-out;

                    &:hover {
                        transform: translateX(-10px);
                        transition: 0.3s ease-in-out;
                        background-color: var(--color-bg);
                        color: var(--color-primary);
                    }
                }
            }
        }
    }
}
